/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.fixed-container {
    position: relative;
    width: 800px;
    height: 460px;
}

.cache-tree-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 400px;
    border: 2px solid #395588;
}

.database-tree-view {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 400px;
    border: 2px solid #395588;
}

.add-to-cache {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-panel {
    position: absolute;
    left: 0;
    bottom: 0;
}

.btn {
    background-color: #8aacf6;
    border: 2px solid #395588;
    border-radius: 5px;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}